@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #fff;

  --default-color: #2ba6cc;
  --default-color-50: 243 249 252;
  --default-color-100: 231 244 249;
  --default-color-200: 198 231 241;
  --default-color-300: 148 213 229;
  --default-color-400: 91 191 213;
  --default-color-500: 53 167 194;
  --default-color-600: 37 137 164;
  --default-color-700: 31 109 133;
  --default-color-800: 30 92 110;
  --default-color-900: 30 77 92;
  --default-color-950: 20 50 61;
}

@layer components {
  .cascade {
    @apply relative;
  }

  .cascade > img {
    @apply left-0 top-0 w-full shadow-gray-800/20 hover:scale-105 z-0 shadow-xl hover:shadow-md hover:z-10 max-h-[30rem] object-cover object-top hover:shadow-gray-800/20 rounded-3xl overflow-y-scroll duration-200;
  }

  .cascade img:nth-child(1) {
    @apply left-0 top-0;
  }

  /* img 2 */
  .cascade img:nth-child(2) {
    @apply left-0 top-20;
  }

  .cascade img:nth-child(3) {
    @apply top-40;
  }
}

/* add ping ar font face */

@font-face {
  font-family: "ping-ar";
  src: url("/ping-ar/PingAR+LT-Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ping-ar";
  src: url("/ping-ar/PingAR+LT-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ping-ar";
  src: url("/ping-ar/PingAR+LT-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ping-ar";
  src: url("/ping-ar/PingAR+LT-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ping-ar";
  src: url("/ping-ar/PingAR+LT-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ping-ar";
  src: url("/ping-ar/PingAR+LT-Black.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

a[href="#"] {
  pointer-events: none;
  cursor: pointer;
}
